body{
    background-color:antiquewhite;
    font-family:sans-serif;
}
.login-box{
    margin-top: 50px;
    height: auto;
    text-align: center;
    background-color:antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.login-lavel{
    margin-top: 15px;
    text-align: center;
    color:rgb(100, 98, 102);
    font-weight: bold;
}
.login-form{
    margin-top: 15px;
    text-align: left;
}
input[type=text]{
    border-top: 0px;
    border-bottom: 2px solid rgb(226, 211, 211);
    font-weight: lighter;
    outline: 0;
    margin-bottom: 10px;
    padding-left: 0px;
    color:rgb(94, 92, 92);

}
input[type=password]{
    border-top: 0px;
    border-bottom: 2px solid rgb(226, 211, 211);
    font-weight: lighter;
    outline: 0;
    margin-bottom: 10px;
    padding-left: 0px;
    color:rgb(94, 92, 92);

}
.login-button{
    padding-right: 0px;
    text-align: right;
    margin-bottom: 15px;
    

}

